
h1 {
color: blue;
font-weight:bold;

}
p{
  color:blue;
  font-family: Helvetica;
  size: 16px;
}

ul li{
  background: yellow;
}

h2 {
  color:green;
  background:orange;
}
ol li {

  background: teal;

}
